// -----------------------------------------------------------------------------
//
// Sections
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Containers
// -----------------------------------------------------------------------------

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

section {
  @extend .row;
  padding: space(small) 0;
}

main {
  @extend .outter-padding;
  padding: space(medium) 0;
}


// -----------------------------------------------------------------------------
// Space
// -----------------------------------------------------------------------------

.outter-padding {
 padding-left:  $gutter*2 !important;
 padding-right: $gutter*2 !important; 
}


// -----------------------------------------------------------------------------
// Classes
// -----------------------------------------------------------------------------

.align-center {
  text-align: center;
}

.align-right {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
