// -----------------------------------------------------------------------------
//
// Headings
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Levels
// -----------------------------------------------------------------------------

h1, .h1 {
  @extend %font-secondary--bold;
  @include font-size(large);
  @include respond-to(medium) { @include font-size(x-large); }
}

h2, .h2 {
  @extend %font-primary--italic;
  @include font-size(medium);
  margin-bottom: space(large);
}

h3, .h3 {
  @include font-size(medium);
}

h4, .h4 {
  // content;
}

h5, .h5 {
  // content;
}

h6, .h6 {
  // content;
}


// -----------------------------------------------------------------------------
// Grouping
// -----------------------------------------------------------------------------

hgroup, .hgroup     {    margin-bottom: space(base);     }
hgroup *, .hgroup * {    margin-bottom: 0;               }




