<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "index.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <!-- Include -->
            {% include "header" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "index.js" | asset_url | script_tag }}
    </body>
</html>