// -----------------------------------------------------------------------------
//
// Column
//
// -----------------------------------------------------------------------------

.column {
  padding: space(small);
  border: 1px solid transparentize($color-bg, 0.5);
  background-color: transparentize($color-bg, 0.8);
  margin-bottom: $gutter;
  @include respond-to(medium){ margin-bottom: $gutter*2; }
}