// -----------------------------------------------------------------------------
//
// Inputs
//
// -----------------------------------------------------------------------------

%input {
  @extend %text-rendering;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  border: 0;
  padding: 0;
  @include border-radius(0);
}

// Inputs
// ---------------------------------------------------------------------------- //

input,
textarea,
select {
  @extend %input;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'],
input[type='email'],
textarea {
  @include placeholder() {
    // color: $grey--light;
  }
}


