{% block title %}Index{% endblock %}
{% block metas %}{% endblock %}

{% block content %} 

<section class="l-row">
  <div class="l-col--6-6">
    <hgroup class="l-space--medium">
      <h1 class="space--base">Welcome</h1>  
      <h2>This is my Mixture template V3</h2>
    </hgroup>
  </div>
  <div class="l-col--3-6">
    <p class="box-default">Col 3/6</p>
  </div>
  <div class="l-col--3-6">
    <p class="box-default">Col 3/6</p>
  </div>
  <div class="l-col--2-6">
    <p class="box-default">Col 2/6</p>
  </div>
  <div class="l-col--1-6 l-push--1-6">
    <p class="box-accent">Col 1/6</p>
  </div>
  <div class="l-col--2-6">
    <p class="box-default">Col 2/6</p>
  </div>
  <div class="l-col--4-6">
    <p class="box-default">Col 4/6</p>
  </div>
  <div class="l-col--2-6">
    <p class="box-default">2/6</p>
  </div>
  <div class="l-col">
    <div class="l-row">
    <div class="l-col--3-6">
      <p class="box-default">Nested 3/6</p>
    </div>
    <div class="l-col--3-6">
      <p class="box-default">Nested 3/6</p>
    </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}{% endblock %}