// -----------------------------------------------------------------------------
//
// Positioning
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Positions
// -----------------------------------------------------------------------------

.l-center {
  float: none;
  margin: 0 auto;
}

.l-right {
  float: right;
}


// -----------------------------------------------------------------------------
// Push six columns
// -----------------------------------------------------------------------------

.l-push--1-6 {
  @include respond-to(small)  {    margin-left: 0;                    }
  @include respond-to(large)  {    margin-left: percentage(1/6);      }
}

.l-push--2-6 {
  @include respond-to(small)  {    margin-left: 0;                    }
  @include respond-to(large)  {    margin-left: percentage(2/6);      }
}

.l-push--3-6 {
  @include respond-to(small)  {    margin-left: 0;                    }
  @include respond-to(large)  {    margin-left: percentage(3/6);      }
}

.l-push--4-6 {
  @include respond-to(small)  {    margin-left: 0;                    }
  @include respond-to(large)  {    margin-left: percentage(4/6);      }
}

.l-push--5-6 {
  @include respond-to(small)  {    margin-left: 0;                    }
  @include respond-to(large)  {    margin-left: percentage(5/6);      }
}


// -----------------------------------------------------------------------------
// Pull six columns
// -----------------------------------------------------------------------------

.l-pull--1-6 {
  @include respond-to(small)  {    margin-right: 0;                    }
  @include respond-to(large)  {    margin-right: percentage(1/6);      }
}

.l-pull--2-6 {
  @include respond-to(small)  {    margin-right: 0;                    }
  @include respond-to(large)  {    margin-right: percentage(2/6);      }
}

.l-pull--3-6 {
  @include respond-to(small)  {    margin-right: 0;                    }
  @include respond-to(large)  {    margin-right: percentage(3/6);      }
}

.l-pull--3-6 {
  @include respond-to(small)  {    margin-right: 0;                    }
  @include respond-to(large)  {    margin-right: percentage(4/6);      }
}

.l-pull--5-6 {
  @include respond-to(small)  {    margin-right: 0;                    }
  @include respond-to(large)  {    margin-right: percentage(5/6);      }
}