// -----------------------------------------------------------------------------
//
// Spacing
//
// -----------------------------------------------------------------------------


.l-outterMargin {
  padding-left: $gutter;
  padding-right: $gutter;
}

// -----------------------------------------------------------------------------
// Create classes based on space-size map
// -----------------------------------------------------------------------------

@each $name, $value in $space-size {
  .l-space--#{$name} {
    margin-top: map-get($space-size, $name);
    margin-bottom: map-get($space-size, $name);
  }
}

@each $name, $value in $space-size {
  .l-spaceTop--#{$name} {
    margin-top: map-get($space-size, $name);
  }
}

@each $name, $value in $space-size {
  .l-spaceBottom--#{$name} {
    margin-bottom: map-get($space-size, $name);
  }
}


// Question: margin or padding ?