// -----------------------------------------------------------------------------
//
// Text
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Text rendering
// -----------------------------------------------------------------------------

%text-rendering {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// -----------------------------------------------------------------------------
// Text selection
// -----------------------------------------------------------------------------

::-moz-selection {
  background-color: $color-selection--background;
  color: $color-selection--text;
}

::selection {
  background-color: $color-selection--background;
  color: $color-selection--text;
}


// -----------------------------------------------------------------------------
// Text positioning
// -----------------------------------------------------------------------------

.l-textCenter {
  text-align: center;
}

.l-textRight {
  text-align: right;
}


// -----------------------------------------------------------------------------
// Text styling
// -----------------------------------------------------------------------------

.l-textUppercase {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}




