// -----------------------------------------------------------------------------
//
// Layout variables
//
// -----------------------------------------------------------------------------

$gutter:              20px;
$max-width:           1200px;

$breakpoints: (
  small  :            ( min-width:  0px ),
  medium :            ( min-width:  450px ),
  large  :            ( min-width: 900px )
);