// -----------------------------------------------------------------------------
//
// Sizes
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Rounded numbers based on a scale of 4px @ 1:1.5
$base-unit:           4px;

$gutter:              20px;
$max-width:           1000px;


// -----------------------------------------------------------------------------
// Breakpoints Map
// -----------------------------------------------------------------------------

$breakpoints: (
  small  :            ( min-width:  0px ),
  medium :            ( min-width:  450px ),
  large  :            ( min-width: 900px )
);


// -----------------------------------------------------------------------------
// Space Size Map
// -----------------------------------------------------------------------------

$space-size: (
  x-small:            $base-unit * 1,        
  small:              $base-unit * 2,        
  base:               $base-unit * 5,                
  medium:             $base-unit * 8,        
  large:              $base-unit * 17,        
  x-large:            $base-unit * 25 
);        

// -----------------------------------------------------------------------------
// Borders Map ?
// -----------------------------------------------------------------------------

$border-thick: (
  base:               1px
);




